In [3]:
class PhoneNumber:
    def __init__(self, number):
        for i in number:
            if i.isalpha():
                raise ValueError("letters not permitted")
            
            if not i.isdigit() and not i.isspace():
                if i not in '()+-.':
                    raise ValueError("punctuations not permitted")
        n=""
        for i in number:
            if i.isdigit():
                n=n+i
            
                
       
        if len(n)==11:
            if n[0]=='1':
                n=n[1:]
            else:
                raise ValueError("11 digits must start with 1")
        elif len(n)<10:
            raise ValueError("must not be fewer than 10 digits")
        elif len(n)>11:
            raise ValueError("must not be greater than 11 digits")
        if n[3]=="0":
            raise ValueError("exchange code cannot start with zero")
        if n[3]=="1":
            raise ValueError("exchange code cannot start with one")
        if n[0]=="1":
            raise ValueError("area code cannot start with one")
        if n[0]=="0":
            raise ValueError("area code cannot start with zero")
        self.number=n
        self.area_code = n[:3]
    def pretty(self):
        
        area_code = self.number[:3]
        exchange = self.number[3:6]
        subscriber = self.number[6:]
        return f"({area_code})-{exchange}-{subscriber}"
    def __str__(self):
        return self.number

        
pno=PhoneNumber("6303142612")
print(pno.pretty())
print(pno)

(630)-314-2612
6303142612

In [9]:
def two_fer(name="you"):
    return f"One for {name}, one for me."
name="jeshwanth"
print(two_fer(name))
two_fer()

One for jeshwanth, one for me.

'One for you, one for me.'

In [ ]:
def prime(number):
    
    if number<1:
        raise ValueError('there is no zeroth prime')
    n=2
    count=0
    while True:
        isprime=True
        

        for i in range(2,int(n**0.5)+1):
            if n%i==0:
                isprime=False
                break
        if isprime:
            count += 1
            if count == number:
                
                return n
        n += 1
n=int(input())
prime(n)

7919

In [20]:
def sublist(list_one, list_two):
    if list_one==list_two:
        return "EQUAL"
    elif (c_sublist(list_one, list_two)):
        return "SUBLIST"
    elif (c_sublist(list_two, list_one)):
        return "SUPERLIST"
    else:
        return "UNEQUAL"
def c_sublist(small,big):
    if small ==[]:
        return True
        #[1,2,3]
        #[5,6,1,2,3,4]
    for i in range(len(big)-len(small)+1):
        if (big[i:i+len(small)]==small):
            return True
    return False
        
l1=[2,3,4,5,6,7,1,0]  
l2=[4,5,6]
sublist(l1,l2)

'SUPERLIST'

In [21]:
# Score categories.
# Change the values as you see fit.
YACHT = "YACHT"
ONES = "ONES"
TWOS = "TWOS"
THREES ="THREES"
FOURS="FOURS"
FIVES = "FIVES"
SIXES ="SIXES"
FULL_HOUSE ="FULL_HOUSE"
FOUR_OF_A_KIND ="FOUR_OF_A_KIND"
LITTLE_STRAIGHT = "LITTLE_STRAIGHT"
BIG_STRAIGHT = "BIG_STRAIGHT"
CHOICE = "CHOICE"


def score(dice, category):
    if category==YACHT:
        if len(set(dice))==1:
            return 50
        return 0
    elif category==ONES:
        return dice.count(1)*1
    elif category==TWOS:
        return dice.count(2)*2
    elif category==THREES:
        return dice.count(3)*3
    elif category==FIVES:
        return dice.count(5)*5
    elif category==SIXES:
        return dice.count(6)*6
    elif category==FOURS:
        return dice.count(4)*4
    elif category==FULL_HOUSE:
        unique=set(dice)
        if len(unique)==2:
            first=dice.count(dice[0])
            if first==2 or first==3:
                return sum(dice)
        return 0
    elif category==FOUR_OF_A_KIND:
        for i in dice:
            if dice.count(i)>=4:
                return 4*i
        return 0
    elif category==LITTLE_STRAIGHT:
        if sorted(dice)==[1,2,3,4,5]:
            return 30
        return 0
        
    elif category==BIG_STRAIGHT:
        if sorted(dice)==[2,3,4,5,6]:
            return 30
        return 0
    elif category==CHOICE:
        return sum(dice)
        
dice=[2,3,4,5,6]
option=BIG_STRAIGHT
score(dice,option)

30

In [23]:
def say(number):
    if number<0:
        raise ValueError("input out of range")
    elif number>999999999999:
        raise ValueError("input out of range")
    if number==0:
        return "zero"
    ones = ["", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
    teens = ["ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen",
             "sixteen", "seventeen", "eighteen", "nineteen"]
    tens = ["", "", "twenty", "thirty", "forty", "fifty", 
            "sixty", "seventy", "eighty", "ninety"]
    groups = ["", "thousand", "million", "billion"]
    def word(n):
        word=''
        if n>=100:
            #1200
            word += ones[n // 100] + " hundred"
            n = n % 100
            if n:
                word += " "
        if 10 <= n < 20:
            word += teens[n - 10]
        else:
            if n >= 20:
                word += tens[n // 10]
                if n % 10:
                    word += "-" + ones[n % 10]
            elif n > 0:
                word += ones[n]
        return word
    result = ""
    group_index = 0

    while number > 0:
        chunk = number % 1000
        if chunk != 0:
            text = word(chunk)
            if groups[group_index]:
                text += " " + groups[group_index]
            result = text + " " + result
        number //= 1000
        group_index += 1

    return result.strip()
say(1254379)

'one million two hundred fifty-four thousand three hundred seventy-nine'

In [27]:
def add(moment):
    def leap(year):
        if (year%400==0) or (year%100!=0 and year%4==0):
            return True
        return False
    def days_month(month,year):
        if month==2:
            if leap(year):
                return 29
            else:
                return 28
        elif month in [4,6,8,10]:
            return 30
        else:
            return 31
        
        
    
    year,month,day,hour,min,sec=moment
    sec_add=1_000_000_000
    sec+=sec_add
    min+=sec//60
    sec%=60
    hour+=min//60
    min%=60
    day+=hour//24
    hour%=24


    while True:
        dim=days_month(month,year)
        if day<=dim:
            break
        day=day-dim
        month+=1
        if month>12:
            month=1
            year+=1
    return (year,month,day,hour,min,sec)

print(add((2002,12,9,5,30,0)))

(2034, 8, 17, 7, 16, 40)

In [31]:
from datetime import datetime, timedelta
def add(moment):
    return moment + timedelta(seconds=1_000_000_000)
print(add(datetime(2012, 12, 9, 5, 30, 0)))

2044-08-17 07:16:40

In [33]:
def average(array):
    l=set(array)
    n=len(l)
    s=sum(l)
    return round(s/n,3)
    


a=[2,3,4,5,7,77,8,8,8888,90]
average(a)

1009.333

In [35]:
M=int(input())
a=set(map(int,input().split()))
N=int(input())
b=set(map(int,input().split()))
c=a.difference(b)
d=b.difference(a)
e=c.union(d)
for i in sorted(e):
    print(i)

3
4
6
7

In [37]:
n=int(input())
a=set()
for i in range(n):
    c=input().strip()
    a.add(c)
m=len(a)
print(m)
print(a)

3
{'china', 'uk', 'usa'}

In [39]:
n = int(input())
s = set(map(int, input().split()))
m=int(input())
for i in range(m):
    cmd=input().split()
    opera=cmd[0]
    if opera=="pop":
        s.pop()
    if opera=="discard":
        s.discard(int(cmd[1]))
    if opera=="remove":
        s.remove(int(cmd[1]))
print(sum(s))

8